#root, html, body {
    height: 100vh;
}

body {
	background: rgb(0,212,255);
    background: linear-gradient(146deg, rgba(0,212,255,1) 16%, rgba(9,9,121,1) 82%, rgba(2,0,36,1) 100%);
	background-size: 100% 300%;
	height: 300vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}
